.header{
  width: 1920px;
  height: 100px;
  line-height: 100px;  
  background: #03203C;
  /* overflow: hidden; */
  position: relative;

}

.main_header{
  width: 1366px;
  margin: 0 auto;
  /* border: 1px solid red; */
  height: 100px;
  line-height: 100px;
  display: flex;
}
.left_header{
  width: 20%;
  height: 100px;
  line-height: 100px;
  float: left;
  /* background: #e32828; */
}
.middle_header{
  width: 60%;
  height: 100px;
  float: left;
  /* background: #630404; */
}
.right_header{
  width: 20%;
  height: 100px;
  line-height: 100px;
  float: right;
  /* background: #e10606; */
  /* padding-left: 150px; */
  /* flex-direction: row; */

}
.logo{
  color: rgb(255, 255, 255);
  /* margin-left: 40px; */
  height: 100%;
  margin-top: 0px;
  font-size: 35px;
  width: 100px;
  font-family: 'Roboto', sans-serif;

}
.search{
  width: 550px;
  height: 45px;
  border-radius: 5px;
  padding-left: 10px;
  margin-left: 50px;
}
.button{
  width: 100px;
  height: 48px;
  border-radius: 5px;
  background: #35BDD0;
  border: 1px solid #35BDD0;
  color: white;
  margin-left: 5px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  cursor: pointer;

}
.link_button{
  width: 120px;
  height: 48px;
  line-height: 48px;
  border-radius: 5px;
  background: #35BDD0;
  border: 1px solid #35BDD0;
  color: white;
  margin-left: 135px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  display: block;
  top: 25px;
  /* left: 70px; */
  padding: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;

}
.link_button #text{
  color: red;
}
::placeholder{
  /* padding-left: 10px; */
  color: #343232;
  margin-left: 10px;
  font-size: 15px;
}
.footer{
  width: 1920px;
  height: 100px;
  background: #000;
  color: white;
}
.cart{
  color: white;
  /* display: block;  */
  font-size: 25px;
  /* margin-top: 42px; */
}
.fa-solid{

  /* width: 90px; */
  height: 100px;
}
.cart_section{
  /* width: 100px; */
  height: 100px;
  line-height: 100px;
  /* border: 1px solid rgb(0, 0, 0); */
  float: left;
  margin-left: 50px;
}
.cart_num{
  width: 10px;
  height: 10px;

}
.h2{
  width: 20px;
  height: 20px;
  line-height: 20px;
  float: right;
  background: #35BDD0;
  font-size: 12px;
  padding:5px;
  position: relative;
  border-radius: 50%;  
  left: -5px;
  color: white;
}
.bottom_header{
  width: 1920px;
  height: 50px;
  overflow: hidden;
  line-height: 50px;
  background: #ffffff;
}
.bottom_header_main{
  width: 1366px;
  height: 50px;
  margin: 0 auto;

}
.bottom_header_main ul{
  list-style: none;
  margin: 0px;
  width: 1366px;
  padding:0px;
}
.bottom_header_main ul li{

  /* min-width: 150px; */
  width: auto;
  height: 50px;
  /* border: 1px solid black; */
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}
.bottom_header_main ul li a{
  text-decoration: none;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: black;

}
.banner{
  width: 1366px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;

}
.left_banner{
  width: 250px;
  min-height: 460px;
  background: #03203C;
  float: left;
  height: auto;
  padding-bottom: 2px;
  /* margin-top: 10px; */
}
.login_icon{
  color: white;
  font-size: 25px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  line-height: 40px;

}
.banner_icon{
  color: white;
  font-size: 25px;
  padding-top: 6px;
  margin-right: 0px;
  height: 40px;
  width: 20px;
  float: left;

}
.cat_icon{
  margin-right: 10px;
}
.left_banner ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.left_banner ul li{
  margin-top: 5px;
  margin-left: 10px;
  width: 230px;
  height: 40px;
  float: left;  
  border-bottom: 1px dashed rgb(38, 37, 37);  

  line-height: 40px;
}
.left_banner ul li a{
  /* border: 1px solid red; */
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  float: left;

}
.right_banner{
  width: 1070px;
  height: 450px;
  margin-top: 10px;
  margin-left:20px;

  float: left;
  background: #ffffff;
}
.right_banner_img{
  width: 1070px;
  height: 450px;

}
.cat{
  padding: 0px;
  width: 230px;
  height: 50px;
  text-align: left;
  padding-left: 20px;
  line-height: 50px;
  background: #35BDD0;
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}
.product_section{
  width: 1366px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  padding-left: 80px;

}
.product_h1{
  font-family: 'Poppins', sans-serif; 
  width: 100%;
  height: 70px;
  text-align: center;
  font-size: 25px;
  /* border: 1px solid red; */
  color: rgb(38, 37, 37);
}
.product{
  width: 300px;
  height: 500px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  background: #fff;
  border-radius: 5px;
}
.product_img{
  width: 300px;
  height: 250px;
  border-radius: 5px;

}
.product_name{
  font-family: 'Roboto', sans-serif;
  /* text-align: left; */
  width: 90%;
  height: 80px;
    margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  font-weight: normal;
  font-size: 17px;
}
.price{
  width: 90%;
  height: 30px;
  display: block;
  text-align: left;
  margin-left: 5%;
  font-family: 'Roboto', sans-serif;
  margin-top: 0px;
  padding-top: 0px;
  color: #c77501;
}
.add_to_cart{
  width: 120px;
  height: 48px;
  line-height: 48px;
  border-radius: 5px;
  background: #35BDD0;
  border: 1px solid #35BDD0;
  color: white;
  /* margin-left: 135px;   */
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  display: block;
  /* top: 25px; */
  float: left;
  margin: 13px;
  /* left: 70px; */
  padding: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.see_details{
  width: 120px;
  height: 48px;
  line-height: 48px;
  border-radius: 5px;
  background: #E8BD0D;
  border: 1px solid #E8BD0D;
  color: white;
  /* margin-left: 135px;   */
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  display: block;
  /* top: 25px; */
  float: left;
  margin: 13px;
  /* left: 70px; */
  padding: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
}